/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    z-index: 0;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.5;
    color: #000;
    background: #fff;
    font-family: 'Arial', sans-serif;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-content {
    width: 100%;
}

.right-content {
    width: 0%;
    height: 100%;
    padding: 0.5rem 0 0.5rem 2rem;
    display: none;
}

.second-header {
    display: none;
}

.paragraph {
    margin: 0;
}

/* header */
.header-wrapper {
    padding: 1rem 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-header {
    margin: 0;
}

.header-photo {
    width: 100%;
    border: 1px solid #90290f;
}

/* hero */
.hero-wrapper {
    padding: 0 0 1rem;
}

.hero-paragraph {
    color: #90290f;
    font-size: 1.5rem;
}

/* text-content */
.text-content-photo {
    width: 40%;
    margin-left: 1rem;
    float: right;
}

.third-header {
    font-size: 1.5rem;
    color: #db3318;
}

.text-content-list {
    padding: 0;
}

.text-content-list li {
    margin-left: 1rem;
    padding: 0.5rem 0;
}

.paragraph-cursive {
    font-style: italic;
}

.text-content-figure {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #d9dcdf;
}

.text-content-figure-photo {
    width: 100%;
}

.text-content-figure-figcaption {
    background: #fbf5b7;
    font-weight: bold;
    text-align: center;
}

.text-content-mark, .text-content-second-mark {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-content-mark {
    color: #db3318;
}

.text-content-photo-baner {
    width: 100%;
}

.text-content-second-mark {
    background: #447f23;
    color: #fbf5b7;
}

.mark-span {
    text-transform: uppercase;
}

.text-content-second-list {
    padding: 0;
    font-weight: bold;
}

.text-content-second-list li {
    margin-left: 1rem;
}

.text-content-second-list-paragraph {
    font-weight: normal;
}

.text-content-third-list {
    list-style: none;
}

.text-content-third-list {
    padding: 0;
    list-style: none;
}

.text-content-third-list li {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    text-indent: 5px;
    position: relative;
}

.text-content-third-list li::before {
    content: "➤";
    color: #447f23;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1.5rem;
}

.attencion-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.attencion-icon {
    color: #db3318;
    font-size: 3rem;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    margin-right: 1rem;
}

.attencion-paragraph {
    color: #db3318;
    font-size: 1.2rem;
    font-weight: bold;
}

.attencion-span {
    color: #000;
}

.bordered-box {
    border: 30px solid transparent;
    padding: 15px;
    -o-border-image: url("../img/frame.png") 30 round;
    border-image: url("../img/frame.png") 30 round;
    background: #fafcf0;
}

.bordered-header {
    color: #447f23;
    font-size: 1.5rem;
    text-align: center;
}

.bordered-list {
    list-style: none;
}

.bordered-list li {
    margin-bottom: 1.5rem;
}

.star-icon {
    color: #447f23;
}

.signature-wrapper {
    width: 100%;
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.signature-photo {
    width: 60%;
    padding-right: 0;
}

.signature-paragraph {
    padding: 0;
}

.signature-abbr[title] {
    text-decoration: none;
    cursor: default;
}

/* product */
.product {
    margin-bottom: 3rem;
}

.product-wrapper {
    text-align: center;
}

.product-paragraph {
    padding: 0 0.5rem;
}

.product-span {
    color: #db3318;
}

.product-photo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-photo-box {
    width: 80%;
    height: auto;
    position: relative;
}

.product-photo {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sign-photo {
    width: auto;
    height: 50%;
    position: absolute;
    left: 0;
    margin-left: 60%;
    bottom: 0;
}

.promotion-days-paragraph {
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    z-index: 1;
}

.promotion-days-counter {
    font-size: 5rem;
    font-weight: normal;
}

.product-s {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.product-second-span {
    font-weight: bold;
    font-size: 2rem;
}

/* form */
.form {
    padding: 0;
}

.form-wrapper {
    padding: 0 1.5rem;
    border: 0.5px solid #d9dcdf;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 20px #d9dcdf;
    box-shadow: 0 0 20px #d9dcdf;
}

.form-second-header {
    width: 100%;
    color: #447f23;
    position: relative;
}

.form-second-header::after {
    content: "";
    width: 98%;
    border-bottom: 1.5px solid #d9dcdf;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
}

.form-third-header {
    color: #90290f;
}

.form-item {
    margin-bottom: 1rem;
}

.input-box {
    width: 100%;
    position: relative;
}

.form-label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #d9dcdf;
}

.tooltip {
    padding: 0.5rem;
    background: #d9dcdf;
    border-radius: 5px;
    position: absolute;
    top: -3rem;
    right: 0;
    display: none;
}

.tooltip::after {
    content: '';
    width: 0;
    border-style: solid;
    border-width: 20px 10px 0;
    border-color: #d9dcdf transparent;
    display: block;
    position: absolute;
    bottom: -15px;
    right: 10px;
    z-index: 1;
}

.show-tooltip {
    display: block;
}

.question-sign {
    width: 1.5rem;
    height: 1.5rem;
    background: #d9dcdf;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-top: 0.9rem;
    right: 0;
    margin-right: 0.5rem;
    cursor: default;
}

.form-span {
    font-size: 0.8rem;
}

.zipcode-city-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.zipcode-input {
    width: 50%;
    margin-right: 0.5rem;
}

.city-input {
    width: 50%;
}

.payment-span {
    font-size: 0.8rem;
}

.form-btn {
    width: 100%;
    margin: 1.5rem 0;
    padding: 1rem 0;
    color: #fff;
    background: #447f23;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.form-btn:hover {
    background: #447F50;
}

/* form table */
.form-table, .table-header, .table-col {
    border: 1px solid #000;
    padding: 0.2rem 0.5rem;
}

.form-table {
    margin: 0 auto 1.5rem;
    font-weight: bold;
    border-collapse: collapse;
}

.table-header {
    font-weight: normal;
    text-align: left;
}

.table-pay {
    color: #447f23;
}

.table-shipping {
    color: #90290f;
}

/* aside */
.aside {
    border: 1px solid #d9dcdf;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.aside-photo-box {
    width: 100%;
    height: 220px;
    position: relative;
}

.aside-photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aside-photo-kilo {
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: #447f23;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #d9dcdf;
    box-shadow: 0 0 20px #d9dcdf;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    position: absolute;
    right: 0;
    margin-right: -5px;
    bottom: 0;
    margin-bottom: -5px;
}

.aside-header {
    width: 100%;
    margin: 0.5rem 2rem;
    color: #bf4447;
    font-size: 1.2rem;
    text-align: center;
}

.aside-paragraph {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.star-rating-wrapper {
    margin-bottom: 0.5rem;
}

/* footer */
.footer-wrapper {
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-links {
    width: 100%;
    text-align: center;
}

.footer-links a {
    margin: 0 0.2rem;
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.footer-links a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-links a:nth-of-type(2) {
    padding: 0 0.5rem;
    border-left: 1.5px solid #000;
    border-right: 1.5px solid #000;
}

.footer-empty-box {
    width: 30%;
    display: none;
}

/* media queries*/
@media only screen and (min-width: 991px) {
    .left-content {
        width: 75%;
    }

    .right-content {
        width: 25%;
        display: block;
    }

    .footer-links {
        width: 75%;
    }

    .footer-empty-box {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background: #d9dcdf;
    }

    .main, .header-wrapper, .footer-wrapper {
        -webkit-box-shadow: -10px 0 5px -5px #d5d6d6, 10px 0 5px -5px #d5d6d6;
        box-shadow: -10px 0 5px -5px #d5d6d6, 10px 0 5px -5px #d5d6d6;
    }

    .hero-wrapper {
        padding: 0.5rem 0.5rem 3rem;
    }

    .signature-photo {
        width: 50%;
        padding-right: 1rem;
    }

    .sign-photo {
        width: 15%;
        height: 20%;
        margin-left: 10%;
    }

    .product-photo-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .promotion-days-paragraph {
        width: 15%;
        margin-left: -5rem;
    }

    .form {
        padding: 0 0.5rem;
    }

    .zipcode-input {
        width: 20%;
    }

    .city-input {
        width: 80%;
    }
}
