/* variables */
:root {
    --black-color: #000;
    --white-color: #fff;
    --brown-color: #90290f;
    --red-color: #db3318;
    --yellow-color: #fbf5b7;
    --green-color: #447f23;
    --second-green-color: #fafcf0;
    --gray-color: #d9dcdf;
    --background-color: rgba(0, 0, 0, 0.4);
}

/* general */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    background: var(--white-color);
    overflow-x: hidden;
    z-index: 0;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.5;
    color: var(--black-color);
    background: var(--white-color);
    font-family: 'Arial', sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.main {
    display: flex;
}

.left-content {
    width: 100%;
}

.right-content {
    width: 0%;
    height: 100%;
    background: yellow;
    display: none;
}

.second-header {
    display: none;
}

.paragraph {
    margin: 0;
}

/* header */
.header-wrapper {
    padding: 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    margin: 0;
}

.header-photo {
    width: 100%;
    border: 1px solid var(--brown-color);
}

/* hero */
.hero-wrapper {
    padding: 0 0 1rem;
}

.hero-paragraph {
    color: var(--brown-color);
    font-size: 1.5rem;
}

/* text-content */
.text-content-photo {
    width: 40%;
    margin-left: 1rem;
    float: right;
}

.third-header {
    font-size: 1.5rem;
    color: var(--red-color);
}

.text-content-list {
    padding: 0;
}

.text-content-list li {
    margin-left: 1rem;
    padding: 0.5rem 0;
}

.paragraph-cursive {
    font-style: italic;
}

.text-content-figure {
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--gray-color);
}

.text-content-figure-photo {
    width: 100%;
}

.text-content-figure-figcaption {
    background: var(--yellow-color);
    font-weight: bold;
    text-align: center;
}

.text-content-mark, .text-content-second-mark {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-content-mark {
    color: var(--red-color);
}

.text-content-photo-baner {
    width: 100%;
}

.text-content-second-mark {
    background: var(--green-color);
    color: var(--yellow-color);
}

.mark-span {
    text-transform: uppercase;
}

.text-content-second-list {
    padding: 0;
    font-weight: bold;
}

.text-content-second-list li {
    margin-left: 1rem;
}

.text-content-second-list-paragraph {
    font-weight: normal;
}

.text-content-third-list {
    list-style: none;
}

.text-content-third-list {
    padding: 0;
    list-style: none;
}

.text-content-third-list li {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.text-content-third-list li::before {
    content: "➤";
    color: var(--green-color);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1.5rem;
}

.attencion-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attencion-icon {
    color: var(--red-color);
    font-size: 3rem;
    transform: rotate(-15deg);
    margin-right: 1rem;
}

.attencion-paragraph {
    color: var(--red-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.attencion-span {
    color: var(--black-color);
}

.bordered-box {}

.signature-wrapper {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.signature-photo {
    width: 60%;
    padding-right: 0;
}

.signature-paragraph {
    padding: 0;
}

.signature-abbr[title] {
    text-decoration: none;
    cursor: default;
}

/* product */
.product-wrapper {
    text-align: center;
}

.product-span {
    color: var(--red-color);
}

.product-photo-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.product-photo-box {
    width: 80%;
    position: relative;
}

.product-photo {
    width: 80%;
    z-index: 0;
}

.sign-photo {
    width: auto;
    height: 50%;
    position: absolute;
    left: 0;
    margin-left: 60%;
    bottom: 5%;
}

.promotion-days-paragraph {
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    z-index: 1;
}

.promotion-days-counter {
    font-size: 5rem;
    font-weight: normal;
}

/* form */
.form-second-header {
    width: 100%;
    color: var(--green-color);
    position: relative;
}

.form-second-header::after {
    content: "";
    width: 98%;
    border-bottom: 0.5px solid var(--gray-color);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1%;
}

.form-third-header {
    color: var(--brown-color);
}

/* media queries*/
@media only screen and (min-width: 768px) {
    body {
        background: var(--gray-color);
    }

    .left-content {
        width: 70%;
    }

    .right-content {
        width: 30%;
        display: block;
    }

    .hero-wrapper {
        padding: 0.5rem 0.5rem 3rem;
    }

    .signature-photo {
        width: 50%;
        padding-right: 1rem;
    }

    .product-photo-wrapper {
        flex-direction: row;
    }

    .sign-photo {
        width: 15%;
        height: 20%;
        margin-left: 10%;
    }

    .promotion-days-paragraph {
        width: 15%;
        margin-left: -5rem;
    }
}
